<h1>Listing menuitems</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Nutrition</th>
    <th>Ingredients</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menuitems.each do |menuitem| %>
  <tr>
    <td><%= menuitem.name %></td>
    <td><%= menuitem.description %></td>
    <td><%= menuitem.nutrition %></td>
    <td><%= menuitem.ingredients %></td>
    <td><%= link_to 'Show', menuitem %></td>
    <td><%= link_to 'Edit', edit_menuitem_path(menuitem) %></td>
    <td><%= link_to 'Destroy', menuitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menuitem', new_menuitem_path %>
